---
import Layout from '../../components/Layout.astro'
import Otters from '../../components/Otters.astro'
import getTagsArrayFromPostList from '../../components/getTagsArrayFromPostList'
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');

const tags = getTagsArrayFromPostList(allPosts)

const alphabeticalTags = tags.sort((a, b) => {
  if (a.title < b.title) {
    return -1
  }
  if (a.title > b.title) {
    return 1
  }
  return 0
})
---
<Layout pageTitle="archive" pageDescription="Archive of all articles published on this blog" slug="tags">
    <div class="my-5">
      <h1 class="mb-4 text-4xl">All Topics:</h1>
      <p class="mb-6 text-xl">This is a list of all articles published on this by topic, <a href="/posts" class="underline">Click here to see articles by date published.</a>.</p>
      <div class="flex flex-row flex-wrap gap-1">
        {alphabeticalTags.map(tag => (
        <a href={`#${tag.title}`} class="badge badge-outline">{tag.title}</a>
      ))}
      </div>
      <h2 class="mt-6 text-4xl">All articles:</h2>
      {alphabeticalTags.map((tag) => (
          <article class="card bg-secondary">
            <div class="card-body">
              <h2 id={tag.title} class="card-title text-inherit">
                <a href={`/tags/${tag.title}/`}>All {tag.title} articles</a>
              </h2>
              {tag.posts.length > 0 && (
                <ul class="text-lg list-disc">
                  {tag.posts.map(post => (
                    <li class="ml-4">
                      <a class="hover:underline" href={`/posts/${post.slug}/`}>
                        {post.data.title}
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </div>
          </article>
      ))}
    </div>
    <Otters />
</Layout>
