---
import FormatDate from "./FormatDate.astro"

const { post } = Astro.props
const { frontmatter, url } = post
---
<a href={`${url}/`} class="hover:tw-bg-zinc-400">
  {post.shareCard && (
    <img src={post.shareCard} />
  )}
  <div class="py-5">
    <h2 class="mb-2 text-2xl tracking-wide card-title text-inherit">
      {frontmatter.title}
    </h2>
    <p class="text-lg text-inherit">{post.frontmatter.description}</p>
    {frontmatter.datePublished && <p class="my-2 ml-2">Published on <FormatDate datetime={frontmatter.datePublished}/></p>}
    {frontmatter?.tags?.length > 0 && (
      <div class="items-center justify-end mt-5 card-actions">
        <span>This article is about:</span>
        {frontmatter.tags?.map(tag => (
          <a href={`/tags/${tag}/`} class="badge badge-outline hover:badge-primary hover:text-white">{tag}</a>
        ))}
      </div>
    )}
  </div>
</a>
