---
import Layout from '../components/Layout.astro';
import FormatDate from '../components/FormatDate.astro';

const { frontmatter, comments } = Astro.props;

const dateFormatOptions = {timeZone: 'UTC',   weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}
---
<Layout pageTitle={frontmatter.title} canonical={frontmatter.canonicalLink} pageDescription={frontmatter.description}>
  <h1 class="mb-4 text-6xl text-zinc-800">{frontmatter.title}</h1>
  {frontmatter.datePublished && <p class="my-2">Published on <FormatDate datetime={frontmatter.datePublished}/></p>}
  {frontmatter?.tags?.length > 0 && (
      <p class="mb-4">
        <span>This article is about:</span>
        {frontmatter.tags?.map(tag => (
          <a href={`/tags/${tag}/`} class="inline-block m-1 badge badge-outline hover:badge-primary hover:text-white">{tag}</a>
        ))}
      </p>
  )}
  <article class="prose prose-xl prose-headings:mb-4 text-slate-900 prose-headings:text-slate-900 prose-a:text-slate-900 prose-li:marker:text-slate-900 prose-strong:text-slate-800 prose-code:text-slate-900 prose-blockquote:text-slate-800">
    <slot />
  </article>
  {frontmatter?.tags?.length > 0 && (
    <p class="mt-6 mb-4">
    <span>Read more articles about:</span>
    {frontmatter.tags?.map(tag => (
      <a href={`/tags/${tag}/`} class="inline-block m-1 badge badge-outline hover:badge-primary hover:text-white">{tag}</a>
    ))}
    </p>
  )}
  <h2 class="mb-2 text-2xl font-bold">Comments</h2>
  {!comments.length && <p>No comments yet. Be the first to comment!</p>}
  {comments?.map(comment => (
    <div class="mt-8">
      <h2 class="text-2xl font-bold">{comment.name} wrote:</h2>
      <time datetime={comment.createdOn} class="text-zinc-600">{(new Date(comment.createdOn).toLocaleDateString('en-GB', dateFormatOptions))}</time>
      <p>{comment.body}</p>
    </div>
  ))}
</Layout>

